.homeScreenWidth
{
    min-width: 600px;
}

.home-btn-width 
{
    width: 90%;
    height: 20%;
    margin: 2px 5px;
}


.ingredient-row {
    display: inline-block;
}

.ingredient-width
{
    width: 150px;
}

.instruction-width
{
    width: 200px

}